@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto+Mono:wght@700&family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  @apply font-['Roboto',sans-serif]
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inputsDefault {
  @apply rounded-md text-sm ring-1  ring-zinc-400 w-56 text-zinc-800 p-1 h-8 outline-transparent
  focus:outline-brand transition-colors;

}
.labelsDefault {

@apply flex flex-col gap-1 text-zinc-600;

}

.fileInput {

  @apply block w-full text-sm text-slate-500 file:mr-4 file:py-2 file:px-4 file:rounded-full
 file:text-sm file:font-semibold file:bg-white file:border file:text-brand3 hover:file:bg-brand3 hover:file:text-white transition-colors duration-300 hover:file:border-transparent

}

.inputsAndLabelsContainer {
  @apply flex justify-around w-[55rem]

}
.tableContainer::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.table{
  @apply text-sm text-left text-gray-500 dark:text-gray-400 w-[98%];
}
.tableHead {
  @apply  text-xs bg-gray-50 text-gray-700 uppercase dark:bg-gray-700 dark:text-gray-400 ;
}

.tableLine {
  @apply py-4 px-4 w-auto;
}
.tableLine:first-child {
@apply  relative text-center;
}


.tableBodyTh{
  @apply flex relative top-1 justify-center font-medium text-gray-900 whitespace-nowrap dark:text-white ;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.buttonStyle1 {
  @apply disabled:opacity-50 disabled:hover:ring-transparent disabled:hover:border-transparent disabled:cursor-not-allowed hover:ring-brand3 bg-brand3 focus:ring-brand3 transition-colors
  py-1 rounded border border-transparent hover:border-white text-white ring-2 ring-transparent
}
.buttonStyle2 {
  @apply disabled:opacity-50 disabled:hover:ring-transparent disabled:hover:border-transparent disabled:cursor-not-allowed hover:ring-brand2 bg-brand2 focus:ring-brand2 transition-colors hover:border-white text-white  py-1 rounded border border-transparent ring-2 ring-transparent
}