@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  @apply font-['Roboto',sans-serif]
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inpuntsDefault {
  @apply rounded-md text-sm ring-1  ring-zinc-400 w-56 text-zinc-800 p-1 h-8 outline-transparent
  focus:outline-brand transition-colors;

}
.labelsDefault {

@apply flex flex-col gap-1 text-zinc-600;

}

.fileInput {

  @apply block w-full text-sm text-slate-500 file:mr-4 file:py-2 file:px-4 file:rounded-full
 file:text-sm file:font-semibold file:bg-white file:border file:text-brand hover:file:bg-brand hover:file:text-white transition-colors duration-300 hover:file:border-transparent

}

.inputsAndLabelsContainer {
  @apply flex justify-between gap-8 w-[35rem] h-[18rem]

}
.tableContainer::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.table{
  @apply text-sm text-left text-gray-500 dark:text-gray-400 w-full ;
}
.tableHead {
  @apply text-xs bg-gray-50 text-gray-700 uppercase dark:bg-gray-700 dark:text-gray-400 ;
}
.tableLine {
  @apply py-4 px-6;
}
.tableBodyTh{
  @apply tableLine font-medium text-gray-900 whitespace-nowrap dark:text-white ;
}